<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
      .contenedorPrincipal{
        margin:auto;
        background-color:#094FA4;
        color:white;
        font-family: Arial;
        font-size:14pt;
        padding:20px;
        font-weight: bold;
        text-align: center;
        border-radius:12px;
        border:8px #5A5EEF solid;
      }
    </style>
    <div class="contenedorPrincipal">
      <h2>Soy [[first_name]] [[last_name]]!</h2>
      <h3>y tengo [[age]] años</h3>
      <label for="fist_name">First name:</label>
      <input name="first_name" type="text" value="{{first_name::input}}" />
      <br />
      <label for="last_name">Last name:</label>
      <input name="last_name" type="text" value="{{last_name::input}}" />
      <br />
      <label for="age">Age:</label>
      <input name="age" type="range" min="18" max="70" value="{{age::input}}" />
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
