<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-alta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/css/estilos.css">

    <div class="contenedorPrincipal">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row cabecera">
              <div class="col-md-12">Alta de usuario</div>
            </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row subcabecera2">
              <div class="col-md-6 active" id="linkUsuario" on-click="selectUsuario"><img src="/estaticos/profile.png" /> Información del usuario</div>
              <div class="col-md-6 inactive" id="linkCuenta" on-click="selectCuenta"><img src="/estaticos/account.png" /> Información de la cuenta</div>
            </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div id="bloqueUsuario" class="row">
        <div class="col-md-1"></div>
        <div class="steps-form-2 col-md-10">
          <div class="row">
            <div class="tituloStep col-md-12">
              <img src="/estaticos/step1.png" width="50" height="50" /> Información personal y de cuenta
            </div>
            <div class="form-group col-md-6">
              <label for="first_name">Nombre</label>
              <input type="text" class="form-control" id="first_name" name="first_name"
                     required placeholder="Introduce tu nombre" value="{{first_name::input}}">
            </div>
            <div class="form-group col-md-6">
              <label for="last_name">Apellidos</label>
              <input type="text" class="form-control" id="last_name" name="last_name"
                     required placeholder="Introduce tus apellidos" value="{{last_name::input}}">
            </div>
            <div class="form-group col-md-6">
              <label for="dni">DNI</label>
              <input type="text" class="form-control" id="dni" name="dni"
                     required placeholder="Introduce tu documento de identidad (DNI/NIE)" value="{{dni::input}}">
            </div>
            <div class="form-group col-md-6">
              <label for="last_name">Email</label>
              <input type="email" class="form-control" id="email" name="email"
                     required placeholder="Introduce tu email" value="{{email::input}}">
            </div>
            <div class="form-group col-md-12">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password"
                     required placeholder="Introduce el password para su cuenta" value="{{password::input}}">
            </div>
            <div class="form-group col-md-12">
              <label for="password2">Confirme su password</label>
              <input type="password" class="form-control" id="password2" name="password2"
                     required placeholder="Confirme tu password" value="">
            </div>
          </div>
          <div class="row">
            <div class="checkbox col-md-12">
              <button class="btn btn-default left" on-click="volver">Cancelar</button>
              &nbsp;
              <button type="button" class="btn btn-primary right" on-click="selectCuenta">Ir a información de la cuenta</button>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div id="bloqueCuenta" style="display:none;" class="row">
        <div class="col-md-1"></div>
        <div class="steps-form-2 col-md-10">
          <div class="row">
            <div class="tituloStep col-md-12">
              <img src="/estaticos/step2.png" width="50" height="50" /> Información de la cuenta
            </div>
            <div class="form-group col-md-6">
              <label for="alias">Alias</label>
              <input type="text" class="form-control" id="alias" name="alias"  value="{{alias::input}}"
                     required placeholder="Introduce un alias para tu cuenta" value="">
            </div>
            <div class="form-group col-md-6">
              <label for="iban">IBAN</label>
              <input type="text" readonly class="form-control" id="iban" name="iban"  value="IBAN será generado de manera automática">
            </div>
          </div>
          <div class="row">
            <div class="tituloStep col-md-12">
              <img src="/estaticos/step3.png" width="50" height="50" /> Confirmación
            </div>
            <div class="checkbox col-md-12">
              <label>
                <input name="confirmacion" id="confirmacion" value="1" type="checkbox"> Confirmación
              </label>
              <p class="ayuda">Marcar el check si has revisado los términos y condiciones y deseas dar de alta tu usuario.</p>
            </div>
            <div class="checkbox col-md-12">
              <button class="btn btn-default left" on-click="selectUsuario">Volver a información de usuario</button>
              &nbsp;
              <button type="button" class="btn btn-primary right" on-click="altaUsuarioCuenta">Enviar</button>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>

    </div>
    <iron-ajax
        id="altaUsuario"
        url="http://localhost:3000/apitechu/users"
        handle-as="json"
        content-type="application/json"
        method="POST"
        on-response="manageAJAXResponse1"
        on-error="showError">
    </iron-ajax>
    <iron-ajax
        id="saveAccount"
        url="http://localhost:3000/apitechu/accounts"
        handle-as="json"
        content-type="application/json"
        method="POST"
        on-response="manageAJAXResponse2"
        on-error="showError2">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @VisorAltaUsuario
     */
    class VisorAltaUsuario extends Polymer.Element {
      static get is() { return 'visor-alta-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          user_id: {
            type: Number
          },
          dni: {
            type: String
          },
          password: {
            type: String
          },
          email: {
            type: String
          },
          alias: {
            type: String
          },
          iban: {
            type: String
          },
          id_cuenta: {
            type: Number
          },
          disponible: {
            type: Number
          },
          confirmacion: {
            type: Boolean
          }
        };
      }

      volver(){
        var detail = {
                        "user_id" : this.user_id,
                        "result": true
                    }

        this.dispatchEvent(
          new CustomEvent(
            "volver",
            {
              "detail": detail
            }
          )
        );
      }

      manageAJAXResponse1(data){
        console.log(data);
        console.log("Operacion de alta recibida - OK");

        // Registramos la cuenta del usuario
        if(data.detail.response.user_id && this.confirmacion && this.alias){

          console.log("PROCEDEMOS AL ALTA DE LA CUENTA DE USUARIO");
          var accountUserData = {
            "user_id" : data.detail.response.user_id,
            "alias" : this.alias,
            "iban" : this.iban,
            "disponible" : 0
          };
          this.$.saveAccount.body = JSON.stringify(accountUserData);
          this.$.saveAccount.generateRequest();
          console.log("Petición de alta de cuenta de usuario Enviada");
        }else{
          alert("Por favor, rellene todos los campos obligatorios");
        }

        // Vaciamos los inputs
        Polymer.dom(this.root).querySelector('#first_name').value = "";
        Polymer.dom(this.root).querySelector('#last_name').value = "";
        Polymer.dom(this.root).querySelector('#email').value = "";
        Polymer.dom(this.root).querySelector('#password').value = "";
        Polymer.dom(this.root).querySelector('#password2').value = "";
        Polymer.dom(this.root).querySelector('#dni').value = "";
        Polymer.dom(this.root).querySelector('#alias').value = "";
        Polymer.dom(this.root).querySelector('#confirmacion').checked = false;
      }

      manageAJAXResponse2(data){
        if(data.detail.response.result == true){
          alert("Registro del usuario completado correctamente.");
        }

        var detail = {
                        "user_id": data.detail.response.user_id,
                        "result": true
                    }

        this.dispatchEvent(
          new CustomEvent(
            "altausuariook",
            {
              "detail": detail
            }
          )
        );
      }

      selectCuenta(){
        Polymer.dom(this.root).querySelector('#bloqueUsuario').setAttribute('style', 'display:none;');
        Polymer.dom(this.root).querySelector('#bloqueCuenta').setAttribute('style', '');

        Polymer.dom(this.root).querySelector('#linkCuenta').classList.remove('inactive');
        Polymer.dom(this.root).querySelector('#linkCuenta').classList.add('active');
        Polymer.dom(this.root).querySelector('#linkUsuario').classList.remove('active');
        Polymer.dom(this.root).querySelector('#linkUsuario').classList.add('inactive');
      }

      selectUsuario(){
        Polymer.dom(this.root).querySelector('#bloqueUsuario').setAttribute('style', '');
        Polymer.dom(this.root).querySelector('#bloqueCuenta').setAttribute('style', 'display:none;');

        Polymer.dom(this.root).querySelector('#linkUsuario').classList.remove('inactive');
        Polymer.dom(this.root).querySelector('#linkUsuario').classList.add('active');
        Polymer.dom(this.root).querySelector('#linkCuenta').classList.remove('active');
        Polymer.dom(this.root).querySelector('#linkCuenta').classList.add('inactive');
      }

      altaUsuarioCuenta(){
        this.confirmacion = Polymer.dom(this.root).querySelector('#confirmacion').checked;
        if(this.password && this.dni && this.first_name && this.last_name && this.confirmacion && this.email && this.alias){
          if(this.password == Polymer.dom(this.root).querySelector('#password2').value){
            console.log("PROCEDEMOS AL ALTA DEL USUARIO");
            var usuarioData = {
              "first_name" : this.first_name,
              "last_name" : this.last_name,
              "email" : this.cantidadTransferencia,
              "password" : this.password,
              "dni" : this.dni
            };
            this.$.altaUsuario.body = JSON.stringify(usuarioData);
            this.$.altaUsuario.generateRequest();
            console.log("Petición de alta de usuario Enviada");
          }else{
              alert("La confirmación del password no es correcta");
          }
        }else{
          alert("Por favor, rellene todos los campos obligatorios");
        }
      }

      refrescarCuenta(select, tipo){
        if(tipo=="origen"){
          this.idCuentaOrigen = select.value;
        }else{
          this.idCuentaDestino = select.value;
        }
      }

      showError(error){
        console.log(error);
        alert("El DNI indicado ya se encuentra registrado.");
      }

      showError2(error){
        console.log(error);
      }

    }



    window.customElements.define(VisorAltaUsuario.is, VisorAltaUsuario);
  </script>
</dom-module>
