<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
        padding:20px;
        background-color: #0044E5;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/css/estilos.css">

    <p>Hola, introduce tus claves de acceso</p>
    <div class="row">
      <div class="col-md-3"></div>
      <input class="col-md-6" name="dni" type="dni" placeholder="Tu usuario (DNI/NIE" value="{{dni::input}}" />
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <input class="col-md-6" name="password" type="password" placeholder="Tu clave de acceso" value="{{password::input}}" />
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-1 center"><button class="btn btn-success" oninvalid="" on-click="login">Login</button></div>
      <div class="col-md-2"></div>
      <div class="col-md-1 center"><button class="btn btn-info" oninvalid="" on-click="irRegistroUsuario">Alta usuario</button></div>
      <div class="col-md-4"></div>
    </div>
    <iron-ajax
        id="doLogin"
        url="http://localhost:3000/apitechu/users/login"
        handle-as="json"
        content-type="application/json"
        method="POST"
        on-response="manageAJAXResponse"
        on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          user_id: {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          dni: {
            type: String
          },
          password: {
            type: String
          },
          logged: {
            type: Boolean,
            value: false
          }
        };
      }

      showData(data) {
        console.log("showData");
        console.log(data.detail.response);
      }

      login(){
        if(this.dni && this.password){
          var loginData = {
            "dni": this.dni,
            "password": this.password
          };
          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
          console.log("Petición Enviada");
        }else{
          alert("Introduzca su dni y clave de acceso");
        }
      }

      irRegistroUsuario(){
        this.dispatchEvent(
          new CustomEvent(
            "irregistrousuario",
            {
              "detail": ""
            }
          )
        );
      }

      manageAJAXResponse(data){
        console.log("Respuesta Recibida - LOGIN OK");
        this.logged = true;
        var detail = {
                        "user_id" : data.detail.response.user_id,
                        "first_name" : data.detail.response.first_name,
                        "last_name" : data.detail.response.last_name,
                        "result" : data.detail.response.result
                    }

        // Guardamos la session del login
        sessionStorage.setItem("login", JSON.stringify(detail));
        this.dispatchEvent(
          new CustomEvent(
            "logincorrecto",
            {
              "detail": detail
            }
          )
        );

        // Una vez logados vacíamos las variables para que se vacíe el formulario
        this.dni = "";
        this.password = "";
      }

      showError(error){
        console.log("ERROR");
        console.log(error);
        this.logged = false;
      }

    }
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
