<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/css/estilos.css">

    <div class="contenedorPrincipal">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row cabecera">
              <div class="col-md-12">
                <h2>Detalle del movimiento</h2>
              </div>
            </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6 padding-10">
              <span class="textoMovimiento left">{{tipo_movimiento}}</span>
            </div>
            <div class="col-md-4 padding-10">
              <span class="textoMovimiento left"><img src="/estaticos/euro.png" /> {{cantidad}} €</span>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 padding-10">
              <span class="textoMovimientoFecha left">{{fecha_movimiento}}</span>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 padding-10">
              <iframe
                width="600"
                height="450"
                frameborder="0" style="border:0"
                src="https://maps.google.com/maps?q={{latitud}},{{longitud}}&hl=es&z=14&amp;output=embed"
                allowfullscreen>
              </iframe>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 padding-10"><button class="btn btn-default right" on-click="volver">Volver a movimientos de la cuenta</button></div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <iron-ajax
        id="getMovementsById"
        url="http://localhost:3000/apitechu/movements/{{id_movimiento}}"
        handle-as="json"
        on-response="manageAJAXResponse">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @VisorMovimiento
     */
    class VisorMovimiento extends Polymer.Element {
      static get is() { return 'visor-movimiento'; }
      static get properties() {
        return {
          id_cuenta: {
            type: Number
          },
          alias: {
            type: String
          },
          iban: {
            type: String
          },
          balanceCuenta: {
            type: Number
          },
          tipo_movimiento: {
            type: String
          },
          cantidad: {
            type: Number
          },
          id_movimiento: {
            type: Number
          },
          latitud: {
            type: Number
          },
          longitud: {
            type: Number
          },
          fecha_movimiento: {
            type: Date
          },
          concepto: {
            type: String
          },
        };
      }

      showData(data) {
        console.log("SHOW DATA MOVIMIENTO: " + data.id_movimiento);
        console.log("SHOW DATA MOVIMIENTO ID CUENTA: " + data.id_cuenta);
        this.id_cuenta = data.id_cuenta;
        this.alias = data.alias;
        this.iban = data.iban;
        this.balanceCuenta = data.balanceCuenta;
        this.id_movimiento = data.id_movimiento;
        this.$.getMovementsById.generateRequest();
      }

      volver(){
        var detail = {
                        "id_cuenta" : this.id_cuenta,
                        "alias" : this.alias,
                        "iban" : this.iban,
                        "balanceCuenta" : this.balanceCuenta,
                        "result": true
                    }

        this.dispatchEvent(
          new CustomEvent(
            "volver",
            {
              "detail": detail
            }
          )
        );
      }

      manageAJAXResponse(data){
        console.log(data);
        data.detail.__data.response.movimiento
        this.id_cuenta = data.detail.__data.response.movimiento.id_cuenta;
        this.tipo_movimiento = data.detail.__data.response.movimiento.tipo_movimiento;
        this.cantidad = new Intl.NumberFormat("es-ES").format(data.detail.__data.response.movimiento.cantidad);
        this.id_movimiento = data.detail.__data.response.movimiento.id_movimiento;
        this.latitud = data.detail.__data.response.movimiento.latitud;
        this.longitud = data.detail.__data.response.movimiento.longitud;
        this.fecha_movimiento = data.detail.__data.response.movimiento.fecha_movimiento.substring(0, 10);
      }
    }

    function numberWithCommas(x) {
        x = x.toString();
        var pattern = /(-?\d+)(\d{3})/;
        while (pattern.test(x))
            x = x.replace(pattern, "$1,$2");
        return x;
    }

    window.customElements.define(VisorMovimiento.is, VisorMovimiento);
  </script>
</dom-module>
