<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/css/estilos.css">

    <div class="contenedorPrincipal">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row cabecera">
              <div class="col-md-6">
                <span class="aliasCuenta">{{alias}}</span>
                <br />
                <span class="ibanCuenta">{{iban}}</span>
              </div>
              <div class="col-md-6">
                <span class="balanceCuenta">{{balanceCuenta}} €</span>
              </div>
            </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row subcabecera">
              <div class="col-md-12"><img src="/estaticos/transfer2.png" /> <a class="enlace" on-click="realizarOperacion">Hacer una operación</a></div>
            </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <template is="dom-repeat" items="{{movements}}">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10 movimiento" on-click="verMovimiento">
            <div style="float:left;"><img src="/estaticos/credit_transfer.png" /> <span class="textoMovimiento">{{item.tipo_movimiento}}</span></div>
            <div style="float:right;"><img src="/estaticos/euro.png" /> <span class="textoCuenta">{{item.cantidad}} €</span></div>
            <div style="clear:both;"></div>
            <div style="float:left;margin-top:10px;"><span class="textoMovimientoFecha">{{item.fecha_movimiento}}</span></div>
          </div>
        </div>
      </template>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 padding-10"><button class="col-md-2 btn btn-default right" on-click="volver">Volver a cuentas</button></div>
        <div class="col-md-1"></div>
      </div>
    </div>

    <iron-ajax
        id="getMovementsByIdAccount"
        url="http://localhost:3000/apitechu/accounts/{{id_cuenta}}/movements"
        handle-as="json"
        on-response="manageAJAXResponse">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @VisorMovimientos
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          id_cuenta: {
            type: Number
          },
          alias: {
            type: String
          },
          iban: {
            type: String
          },
          balanceCuenta: {
            type: Number
          },
          tipo_movimiento: {
            type: String
          },
          cantidad: {
            type: Number
          },
          id_movimiento: {
            type: Number
          },
          latitud: {
            type: Number
          },
          longitud: {
            type: Number
          },
          fecha_movimiento: {
            type: Number
          },
          movements: {
            type: Array
          },
          user_id: {
            type: Number
          }
        };
      }

      showDataMovements(data, user_id) {
        console.log(data);
        this.id_cuenta = data.id_cuenta;
        this.alias = data.alias;
        this.iban = data.iban;
        this.balanceCuenta = data.balanceCuenta;
        this.user_id = user_id;
        this.$.getMovementsByIdAccount.generateRequest();
      }

      volver(){
        var detail = {
                        "user_id" : this.user_id,
                        "result": true
                    }

        this.dispatchEvent(
          new CustomEvent(
            "volver",
            {
              "detail": detail
            }
          )
        );
      }

      manageAJAXResponse(data) {
        console.log(data.detail.__data);
        Object.keys(data.detail.__data.response.movimiento).forEach(function(key) {
          Object.keys(data.detail.__data.response.movimiento[key]).forEach(function(key2) {
            if(key2 == "cantidad"){
              data.detail.__data.response.movimiento[key][key2] = new Intl.NumberFormat("es-ES").format(data.detail.__data.response.movimiento[key][key2]);
            }
            if(key2 == "fecha_movimiento"){
              data.detail.__data.response.movimiento[key][key2] = data.detail.__data.response.movimiento[key][key2].substring(0, 10);
            }
          });
        });
        this.movements = data.detail.__data.response.movimiento;
      }

      verMovimiento(e){
        console.log("ID CUENTA: " + this.id_cuenta);
        console.log("alias CUENTA: " + this.alias);
        console.log("EVENTO:  " + e);
        console.log("EVENTO ID MOV: " + e.model.__data.item.id_movimiento);
        var idMovimiento = e.model.__data.item.id_movimiento;
        var tipoMovimiento = e.model.__data.item.tipo_movimiento;
        var cantidad = e.model.__data.item.cantidad;
        var detail = {
                        "result" : true,
                        "id_movimiento" : idMovimiento,
                        "tipo_movimiento" : tipoMovimiento,
                        "cantidad" : cantidad,
                        "id_cuenta": this.id_cuenta,
                        "iban": this.iban,
                        "alias": this.alias,
                        "balanceCuenta": this.balanceCuenta
                    }
        console.log(detail);
        this.dispatchEvent(
          new CustomEvent(
            "vermovimiento",
            {
              "detail": detail
            }
          )
        );
      }

      realizarOperacion(){
        var detail = {
                        "result" : true,
                        "id_cuenta": this.id_cuenta,
                        "iban": this.iban,
                        "alias": this.alias,
                        "balanceCuenta": this.balanceCuenta
                    }
        this.dispatchEvent(
          new CustomEvent(
            "realizaroperacion",
            {
              "detail": detail
            }
          )
        );
      }
    }

    function numberWithCommas(x) {
        x = x.toString();
        var pattern = /(-?\d+)(\d{3})/;
        while (pattern.test(x))
            x = x.replace(pattern, "$1,$2");
        return x;
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
