<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/cells-atom-icon/cells-atom-icon-styles.html">

<dom-module id="menu-inferior">
  <template>
    <style>
      :host {
        display: block;
        background-color:#072146;
        padding:30px;
        color:white;
      }
      .img{
        width: 6rem;
      }
    </style>
    <img class="img" alt="" src="http://www.bbva.es/estaticos/mult/logoBBVA.svg">
    <p>Banco Bilbao Vizcaya Argentaria S.A.-2018</p>
  </template>

  <script>
    class MenuInferior extends Polymer.Element {
      static get is() { return 'menu-inferior'; }
      static get properties() {
          return {
          }
        };
      }
      window.customElements.define(MenuInferior.is, MenuInferior);
  </script>

</dom-module>
