<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/css/estilos.css">
    
    <div class="contenedorPrincipal">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row cabecera">
              <div class="col-md-9">Cuentas disponibles</div>
              <div class="col-md-3"><p class="balance">Balance Total: {{balance}} €</p></div>
            </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row subcabecera">
              <div class="col-md-12"><img src="/estaticos/transfer2.png" /> <a class="enlace" on-click="realizarOperacion">Hacer una operación</a></div>
            </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <template is="dom-repeat" items="{{accounts}}">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10 cuenta" on-click="verMovimientos" idcuenta="{{item.id_cuenta}}">
            <div style="float:left;"><img src="/estaticos/account.png" /> <span class="textoCuenta">{{item.alias}}</span></div>
            <div style="float:right;"><img src="/estaticos/euro.png" /> <span class="textoCuenta">Disponible en cuenta: {{item.disponible}} €</span></div>
            <div style="clear:both;"></div>
            <div style="float:left;margin-top:10px;"><span class="textoCuentaIBAN">{{item.iban}}</span></div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </template>

    </div>
    <iron-ajax
        id="getAccountsByUserId"
        url="http://localhost:3000/apitechu/users/{{user_id}}/accounts"
        handle-as="json"
        on-response="manageAJAXResponse">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @VisorCuentas
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          user_id: {
            type: Number
          },
          alias: {
            type: String
          },
          iban: {
            type: String
          },
          disponible: {
            type: Number
          },
          id_cuenta: {
            type: Number
          },
          accounts: {
            type: Array
          },
          balance: {
            type: Number
          }

        };
      }

      showDataUser(user_id) {
        this.user_id = user_id;
        this.$.getAccountsByUserId.generateRequest();
      }

      manageAJAXResponse(data){
        this.balance = new Intl.NumberFormat("es-ES").format(data.detail.response.balanceUsuario);
        Object.keys(data.detail.response.cuentasUsuario).forEach(function(key) {
          Object.keys(data.detail.response.cuentasUsuario[key]).forEach(function(key2) {
            if(key2 == "disponible"){
              data.detail.response.cuentasUsuario[key][key2] = new Intl.NumberFormat("es-ES").format(data.detail.response.cuentasUsuario[key][key2]);
            }
          });
        });
        this.accounts = data.detail.response.cuentasUsuario;
      }

      verMovimientos(e){
        var idCuenta = e.model.__data.item.id_cuenta;
        var alias = e.model.__data.item.alias;
        var iban = e.model.__data.item.iban;
        var balanceCuenta = e.model.__data.item.disponible;
        var detail = {
                        "result" : true,
                        "id_cuenta" : idCuenta,
                        "iban" : iban,
                        "alias" : alias,
                        "balanceCuenta" : balanceCuenta
                    }
        this.dispatchEvent(
          new CustomEvent(
            "vermovimientos",
            {
              "detail": detail
            }
          )
        );
      }

      realizarOperacion(){
        this.dispatchEvent(
          new CustomEvent(
            "realizaroperacion",
            {
              "detail": ""
            }
          )
        );
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
