<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="menu-superior">
  <template>
    <style>
      :host {
        display: block;
        background-color:#072146;
        padding:30px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/css/estilos.css">

    <div style="background-color:#072146; width:20px; height:20px; float:left;"></div>
    <div style="background-color:#004481; width:20px; height:20px; float:left;"></div>
    <div style="background-color:#2A86CA; width:20px; height:20px; float:left;"></div>
    <div style="background-color:#5BBEFF; width:20px; height:20px; float:left;"></div>
    <div style="background-color:#2dcccd; width:20px; height:20px; float:left;"></div>
    <div style="background-color:#5ac4c4; width:20px; height:20px; float:left;"></div>
    <br />
    <div style="clear:both;"></div>
    <div style="background-color:#004481; width:20px; height:20px; float:left;"></div>
    <div style="clear:both;"></div>
    <div style="background-color:#2A86CA; width:20px; height:20px; float:left;"></div>
    <div style="clear:both;"></div>
    <div style="background-color:#5BBEFF; width:20px; height:20px; float:left;"></div>
    <div style="clear:both;"></div>
    <div style="background-color:#2dcccd; width:20px; height:20px; float:left;"></div>
    <div style="clear:both;"></div>
    <div style="position:absolute; top:5px; left:45px;"><img style="width:150px;margin:75px 50px;" src="https://s3-eu-west-1.amazonaws.com/naxitox-proyecto/bbva_logo_home.svg" /></div>
    <div class="row" hidden$="{{hidden}}">
      <div class="col-md-9"></div>
      <div class="col-md-2">
        <div style="float:right;color:white;font-style:italic;"><img src="/estaticos/profile.png" /> {{first_name}} {{last_name}}</div>
      </div>
      <div class="col-md-1">
        <div class="right"><img on-click="logout" src="/estaticos/logout.png" width="30" height="30" /></div>
      </div>
    </div>
    <iron-ajax
        id="doLogout"
        url="http://localhost:3000/apitechu/users/logout"
        handle-as="json"
        content-type="application/json"
        method="POST"
        on-response="manageAJAXResponse"
        on-error="showError">
    </iron-ajax>
  </template>

  <script>
    class MenuSuperior extends Polymer.Element {
      static get is() { return 'menu-superior'; }
      static get properties() {
          return{
            user_id: {
              type: Number,
            },
            first_name: {
              type: String
            },
            last_name: {
              type: String
            },
            logged: {
              type: Boolean
            },
            hidden: {
              type: Boolean,
              value: true
            }
          }
        };

        showData(data){
            this.first_name  = data.first_name;
            this.last_name  = data.last_name;
            this.user_id  = data.user_id;
            this.hidden  = false;
        }

        logout(){
          var logoutData = { "user_id" : this.user_id  }
          this.$.doLogout.body = JSON.stringify(logoutData);
          this.$.doLogout.generateRequest();
          console.log("Petición Logout Enviada");
        }

        manageAJAXResponse(data){
          console.log("Respuesta Recibida - LOGOUT OK");
          this.logged = false;
          var detail = {
                          "user_id" : data.detail.response.user_id,
                          "first_name" : data.detail.response.first_name,
                          "last_name" : data.detail.response.last_name,
                          "result" : data.detail.response.result
                      }

          // Quitamos el login de la session
          sessionStorage.removeItem("login");
          this.hidden  = true;
          this.dispatchEvent(
            new CustomEvent(
              "logoutcorrecto",
              {
                "detail": detail
              }
            )
          );
        }

        showError(error){
          console.log("ERROR");
          console.log(error);
          this.logged = false;
        }
      }

      window.customElements.define(MenuSuperior.is, MenuSuperior);
  </script>

</dom-module>
