<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      .contenedorPrincipal{
        margin:auto;
        background-color:#2dcccd;
        color:white;
        font-family: Arial;
        font-size:12pt;
        padding:20px;
        font-weight: bold;
        text-align: center;
        border-radius:25px;
        border:4px #02a5a5 solid;
      }
    </style>
    <div class="contenedorPrincipal">
      <h1>Datos de usuario</h1>
      <iron-ajax auto
          id="getUser"
          url="http://localhost:3000/apitechu/v2/users/{{id}}"
          handle-as="json"
          on-response="showData">
      </iron-ajax>

      <h2>Soy {{first_name}} {{last_name}}!</h2>
      <h3>Mi email es: {{email}}</h3>
      <h4>Y mi identificador es {{id}}</h3>
      <label for="fist_name">First name:</label>
      <input name="first_name" type="text" value="{{first_name::input}}" />
      <br />
      <label for="last_name">Last name:</label>
      <input name="last_name" type="text" value="{{last_name::input}}" />
      <br />
      <label for="email">Email:</label>
      <input name="email" type="email" value="{{email::input}}" />
      <label for="id">ID:</label>
      <input name="id" type="number" value="{{id::input}}" />
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          }
        };
      }
      showData(data) {
        console.log("showData");
        console.log(data.detail.response);
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
    }



    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
