<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../menu-superior/menu-superior.html">
<link rel="import" href="../menu-inferior/menu-inferior.html">

<dom-module id="page-not-found">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="/src/css/estilos.css">    
  <menu-superior></menu-superior>
  <div class="contenido">
    Ha intentado acceder a un contenido no disponible.
    <br /><br />
    <a href="/">Volver</a>
  </div>
  <menu-inferior></menu-inferior>
  </template>

  <script>
    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
          return {
          }
        };
      }
      window.customElements.define(PageNotFound.is, PageNotFound);
  </script>

</dom-module>
