<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../menu-superior/menu-superior.html">
<link rel="import" href="../menu-inferior/menu-inferior.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<link rel="import" href="../visor-movimiento/visor-movimiento.html">
<link rel="import" href="../visor-operacion/visor-operacion.html">
<link rel="import" href="../visor-alta-usuario/visor-alta-usuario.html">

<dom-module id="gestor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
      .x{
        background-color:#86c82d;
        border-radius:15px;
        color:#094FA4;
        padding:10px;
        margin:10px;
      }
    </style>
    <menu-superior id="menusuperior" on-logoutcorrecto="volverIndex"></menu-superior>
    <iron-pages selected="0" id="paginador">
        <div><login-usuario on-logincorrecto="verCuentasUsuario" on-irregistrousuario="irRegistroUsuario"></login-usuario></div>
        <div><visor-cuentas on-realizaroperacion="realizarOperacion" on-vermovimientos="verMovimientosCuenta" id="visorcuentas"></visor-cuentas></div>
        <div><visor-movimientos on-realizaroperacion="realizarOperacion" on-vermovimiento="verDetalleMovimiento" on-volver="volverCuentasUsuario" id="visormovimientos"></visor-movimientos></div>
        <div><visor-movimiento id="visormovimiento" on-volver="volverMovimientosCuenta"></visor-movimiento></div>
        <div><visor-operacion id="visoroperacion" on-volver="volverCuentasUsuario" on-operacionok="volverCuentasUsuario"></visor-operacion></div>
        <div><visor-alta-usuario id="visoraltausuario" on-volver="volverIndex" on-altausuariook="volverIndex"></visor-alta-usuario></div>
    </iron-pages>
    <menu-inferior></menu-inferior>
  </template>

  <script>
    class GestorEvento extends Polymer.Element {

      static get is() { return 'gestor-evento'; }
      static get properties() {
          return {
          }
        };

        verCuentasUsuario(e){
          if(e.detail.result){ // si el resultado del LOGIN es TRUE mostramos las cuentas
            this.$.visorcuentas.showDataUser(e.detail.user_id);
            this.$.menusuperior.showData(e.detail);
            this.$.paginador.selected=1;
          }
        }

        irRegistroUsuario(e){
          this.$.paginador.selected=5;
        }

        volverCuentasUsuario(e){
          var login = JSON.parse(sessionStorage.getItem("login"));
          this.$.visorcuentas.showDataUser(login.user_id);
          this.$.paginador.selected=1;
        }

        volverMovimientosCuenta(e){
          var login = JSON.parse(sessionStorage.getItem("login"));
          this.$.visormovimientos.showDataMovements(e.detail, login.user_id);
          this.$.paginador.selected=2;
        }

        verMovimientosCuenta(e){
          var login = JSON.parse(sessionStorage.getItem("login"));
          // si el resultado de obtención de movimientos de cuentas o grabar operación es TRUE mostramos los movimientos de la cuenta
          console.log(e.detail);
          if(e.detail.result){
            this.$.visormovimientos.showDataMovements(e.detail, login.user_id);
            this.$.paginador.selected=2;
          }
        }

        verDetalleMovimiento(e){
          console.log("ENTRO");
          console.log("VER DETALLE MOVIMIENTO: " + e.detail);
          if(e.detail.result){ // Si hemos obtenido el movimiento OK lo mostramos
            this.$.visormovimiento.showData(e.detail);
            this.$.paginador.selected=3;
          }
        }

        realizarOperacion(e){
          console.log(sessionStorage.getItem("login"));
          var login = JSON.parse(sessionStorage.getItem("login"));
          console.log(login.user_id);
          this.$.visoroperacion.showData(e.detail, login.user_id);
          this.$.paginador.selected=4;
        }

        volverIndex(){
          this.$.paginador.selected=0;
        }

      }

      window.customElements.define(GestorEvento.is, GestorEvento);
  </script>

</dom-module>
