<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-operacion">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/css/estilos.css">

    <div class="contenedorPrincipal">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row cabecera">
              <div class="col-md-12">Realizar una operación</div>
            </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row subcabecera2">
              <div class="col-md-6 active" id="linkTransfer" on-click="selectTransfer"><img src="/estaticos/transfer2.png" /> Transferencia</div>
              <div class="col-md-6 inactive" id="linkTraspaso" on-click="selectTraspaso"><img src="/estaticos/transfer.png" /> Traspaso entre mis cuentas</div>
            </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div id="bloqueTransferencia" class="row">
        <div class="col-md-1"></div>
        <div class="steps-form-2 col-md-10">
          <div class="row">
            <div class="tituloStep col-md-12">
              <img src="/estaticos/step1.png" width="50" height="50" /> Destino
            </div>
            <div class="form-group col-md-12">
              <label for="ibanDestino">IBAN</label>
              <input type="text" class="form-control" id="ibanDestino" name="ibanDestino"
                     required placeholder="Introduce la cuenta destino" value="{{ibanDestino::input}}">
            </div>
            <div class="form-group col-md-12">
              <label for="beneficiario">Beneficiario</label>
              <input type="text" class="form-control" id="beneficiario" name="beneficiario"
                     placeholder="Introduce el nombre del beneficiario">
            </div>
          </div>
          <div class="row">
            <div class="tituloStep col-md-12">
              <img src="/estaticos/step2.png" width="50" height="50" /> Detalle operación
            </div>
            <div class="form-group col-md-12">
              <label for="cuentaOrigenTransferencia">Cuenta Origen</label>
              <select id="cuentaOrigenTransferencia" name="cuentaOrigenTransferencia" required>
                <option value="">- Seleccione cuenta origen -</option>
                <template is="dom-repeat" items="{{accounts}}" as="account">
                  <option value="{{account.id_cuenta}}">{{account.alias}} ({{account.disponible}} €)</option>
                </template>
              </select>
              <p class="ayuda">Seleccione una de sus cuentas</p>
            </div>
            <div class="form-group col-md-12">
              <label for="cantidad">Cantidad</label>
              <input type="number" min="6" max="6000" class="form-control" id="cantidadTransferencia" name="cantidadTransferencia" value="{{cantidadTransferencia::input}}"
                     required placeholder="Introduce la cantidad">
              <p class="ayuda">Mín: 6 € - Máx: 6.000 €</p>
            </div>
            <div class="form-group col-md-12">
              <label for="beneficiario">Concepto</label>
              <input type="text" class="form-control" id="conceptoTransferencia" name="conceptoTransferencia" value="{{conceptoTransferencia::input}}"
                     placeholder="Concepto de la operación">
            </div>
          </div>
          <div class="row">
            <div class="tituloStep col-md-12">
              <img src="/estaticos/step3.png" width="50" height="50" /> Confirmación
            </div>
            <div class="checkbox col-md-12">
              <label>
                <input name="confirmacionTransferencia" id="confirmacionTransferencia" value="1" type="checkbox"> Confirmación
              </label>
              <p class="ayuda">Marcar el check si has revisado la operación y deseas completar la misma</p>
            </div>
            <div class="checkbox col-md-12">
              <button type="button" class="btn btn-primary left" on-click="realizarTransferencia">Enviar</button>
              &nbsp;
              <button class="col-md-2 btn btn-default right" on-click="volver">Volver a cuentas</button>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div id="bloqueTraspaso" style="display:none;" class="row">
        <div class="col-md-1"></div>
        <div class="steps-form-2 col-md-10">
          <div class="row">
            <div class="tituloStep col-md-12">
              <img src="/estaticos/step1.png" width="50" height="50" /> Origen y Destino
            </div>
            <div class="form-group col-md-12">
              <label for="cuentaOrigenTraspaso">Cuenta Origen</label>
              <select id="cuentaOrigenTraspaso" name="cuentaOrigenTraspaso" required>
                <option value="">- Seleccione cuenta origen -</option>
                <template is="dom-repeat" items="{{accounts}}" as="account">
                  <option value="{{account.id_cuenta}}">{{account.alias}} ({{account.disponible}} €)</option>
                </template>
              </select>
              <p class="ayuda">Seleccione una de sus cuentas</p>
            </div>
            <div class="form-group col-md-12">
              <label for="cuentaDestinoTraspaso">Cuenta Destino</label>
              <select id="cuentaDestinoTraspaso" name="cuentaDestinoTraspaso" required>
                <option value="">- Seleccione cuenta destino -</option>
                <template is="dom-repeat" items="{{accounts}}">
                  <option value="{{item.id_cuenta}}">{{item.alias}} ({{item.disponible}} €)</option>
                </template>
              </select>
              <p class="ayuda">No selecccionar la misma que el origen</p>
            </div>
          </div>
          <div class="row">
            <div class="tituloStep col-md-12">
              <img src="/estaticos/step2.png" width="50" height="50" /> Detalle operación
            </div>
            <div class="form-group col-md-12">
              <div class="form-group col-md-12">
                <label for="beneficiario">Concepto</label>
                <input type="text" class="form-control" id="conceptoTraspaso" name="conceptoTraspaso" value="{{conceptoTraspaso::input}}"
                       placeholder="Concepto de la operación">
              </div>
            </div>
            <div class="form-group col-md-12">
              <label for="cantidad">Cantidad</label>
              <input type="number" min="1" max="30000" class="form-control" id="cantidadTraspaso" name="cantidadTraspaso" value="{{cantidadTraspaso::input}}"
                     required placeholder="Introduce la cantidad">
              <p class="ayuda">Mín: 1 € - Máx: 30.000 €</p>
            </div>
          </div>
          <div class="row">
            <div class="tituloStep col-md-12">
              <img src="/estaticos/step3.png" width="50" height="50" /> Confirmación
            </div>
            <div class="checkbox col-md-12">
              <label>
                <input name="confirmacionTraspaso" id="confirmacionTraspaso" value="1" type="checkbox"> Confirmación
              </label>
              <p class="ayuda">Marcar el check si has revisado la operación y deseas completar la misma</p>
            </div>
            <div class="checkbox col-md-12">
              <button type="button" class="btn btn-primary left" on-click="realizarTraspaso">Enviar</button>
              &nbsp;
              <button class="col-md-2 btn btn-default right" on-click="volver">Volver a cuentas</button>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>

    </div>
    <iron-ajax
        id="traspasoEntreCuentas"
        url="http://localhost:3000/apitechu/movements/traspaso"
        handle-as="json"
        content-type="application/json"
        method="POST"
        on-response="manageAJAXResponse1"
        on-error="showError">
    </iron-ajax>
    <iron-ajax
        id="saveMovement"
        url="http://localhost:3000/apitechu/movements"
        handle-as="json"
        content-type="application/json"
        method="POST"
        on-response="manageAJAXResponse1"
        on-error="showError">
    </iron-ajax>
    <iron-ajax
        id="getAccountsByUserId"
        url="http://localhost:3000/apitechu/users/{{user_id}}/accounts"
        handle-as="json"
        on-response="manageAJAXResponse2">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @VisorOperacion
     */
    class VisorOperacion extends Polymer.Element {
      static get is() { return 'visor-operacion'; }
      static get properties() {
        return {
          idCuentaOrigen: {
            type: Number
          },
          idCuentaDestino: {
            type: Number
          },
          tipo_movimiento: {
            type: String
          },
          cantidadTransferencia: {
            type: Number
          },
          cantidadTraspaso: {
            type: Number
          },
          latitud: {
            type: Number
          },
          logitud: {
            type: Number
          },
          fechaMovimiento: {
            type: Date
          },
          user_id: {
            type: Number
          },
          ibanDestino: {
            type: String
          },
          conceptoTransferencia: {
            type: String
          },
          conceptoTraspaso: {
            type: String
          },
          confirmacionTransferencia: {
            type: Boolean
          },
          confirmacionTraspaso: {
            type: Boolean
          },
          accounts: {
            type: Array
          }
        };
      }

      showData(data, user_id) {
        if(data.id_cuenta){
          this.idCuentaOrigen = data.id_cuenta;
        }
        this.user_id = user_id;
        this.$.getAccountsByUserId.generateRequest();
      }

      volver(){
        var detail = {
                        "user_id" : this.user_id,
                        "result": true
                    }

        this.dispatchEvent(
          new CustomEvent(
            "volver",
            {
              "detail": detail
            }
          )
        );
      }

      manageAJAXResponse1(data){
        console.log(data);
        console.log("Operacion Recibida - OK");
        var detail = {
                        "result": true
                    }

        this.dispatchEvent(
          new CustomEvent(
            "operacionok",
            {
              "detail": detail
            }
          )
        );
      }

      manageAJAXResponse2(data){
        Object.keys(data.detail.response.cuentasUsuario).forEach(function(key) {
          Object.keys(data.detail.response.cuentasUsuario[key]).forEach(function(key2) {
            if(key2 == "disponible"){
              data.detail.response.cuentasUsuario[key][key2] = new Intl.NumberFormat("es-ES").format(data.detail.response.cuentasUsuario[key][key2]);
            }
          });
        });
        this.accounts = data.detail.response.cuentasUsuario;
      }

      selectTraspaso(){
        Polymer.dom(this.root).querySelector('#bloqueTransferencia').setAttribute('style', 'display:none;');
        Polymer.dom(this.root).querySelector('#bloqueTraspaso').setAttribute('style', '');

        Polymer.dom(this.root).querySelector('#linkTraspaso').classList.remove('inactive');
        Polymer.dom(this.root).querySelector('#linkTraspaso').classList.add('active');
        Polymer.dom(this.root).querySelector('#linkTransfer').classList.remove('active');
        Polymer.dom(this.root).querySelector('#linkTransfer').classList.add('inactive');
      }

      selectTransfer(){
        Polymer.dom(this.root).querySelector('#bloqueTransferencia').setAttribute('style', '');
        Polymer.dom(this.root).querySelector('#bloqueTraspaso').setAttribute('style', 'display:none;');

        Polymer.dom(this.root).querySelector('#linkTransfer').classList.remove('inactive');
        Polymer.dom(this.root).querySelector('#linkTransfer').classList.add('active');
        Polymer.dom(this.root).querySelector('#linkTraspaso').classList.remove('active');
        Polymer.dom(this.root).querySelector('#linkTraspaso').classList.add('inactive');
      }

      realizarTransferencia(){
        this.idCuentaOrigen = Polymer.dom(this.root).querySelector('#cuentaOrigenTransferencia').value;
        this.confirmacionTransferencia = Polymer.dom(this.root).querySelector('#confirmacionTransferencia').checked;
        if(this.ibanDestino && this.idCuentaOrigen && this.cantidadTransferencia && this.confirmacionTransferencia){
          console.log("TRANSFERENCIA OK");
          var transferData = {
            "id_cuenta" : this.idCuentaOrigen,
            "tipo_movimiento" : "Transferencia",
            "cantidad" : this.cantidadTransferencia,
            "latitud" : 40.480279,
            "longitud" : -3.70361,
            "concepto" : this.conceptoTransferencia
          };
          this.$.saveMovement.body = JSON.stringify(transferData);
          this.$.saveMovement.generateRequest();
          console.log("Transferencia Enviada");

          // Vaciamos los inputs
          Polymer.dom(this.root).querySelector('#cuentaOrigenTransferencia').value = "";
          Polymer.dom(this.root).querySelector('#ibanDestino').value = "";
          Polymer.dom(this.root).querySelector('#beneficiario').value = "";
          Polymer.dom(this.root).querySelector('#conceptoTransferencia').value = "";
          Polymer.dom(this.root).querySelector('#cantidadTransferencia').value = "";
          Polymer.dom(this.root).querySelector('#confirmacionTransferencia').checked = false;
        }else{
            alert("Por favor complete todos los campos obligatorios (cuenta origen, IBAN cuenta destino, cantidad y check de confirmación)");
        }
      }

      realizarTraspaso(){
        this.idCuentaOrigen = Polymer.dom(this.root).querySelector('#cuentaOrigenTraspaso').value;
        this.idCuentaDestino = Polymer.dom(this.root).querySelector('#cuentaDestinoTraspaso').value;
        this.confirmacionTraspaso = Polymer.dom(this.root).querySelector('#confirmacionTraspaso').checked;

        console.log(this.idCuentaDestino + " - " + this.idCuentaOrigen + " - " + this.cantidadTraspaso + " - " + this.confirmacionTraspaso);
        if(this.idCuentaDestino && this.idCuentaOrigen && this.cantidadTraspaso && this.confirmacionTraspaso){
          if(this.idCuentaDestino == this.idCuentaOrigen){
            alert("Por favor, las cuentas origen y destino deben ser distintas.");
          }else{
            console.log("Traspaso OK");
            var transferData = {
              "idCuentaOrigen" : this.idCuentaOrigen,
              "idCuentaDestino" : this.idCuentaDestino,
              "cantidad" : this.cantidadTraspaso,
              "tipo_movimiento" : "Traspaso entre cuentas",
              "latitud" : 40.480279,
              "longitud" : -3.70361,
              "concepto" : this.conceptoTraspaso
            };
            this.$.traspasoEntreCuentas.body = JSON.stringify(transferData);
            this.$.traspasoEntreCuentas.generateRequest();
            console.log("Traspaso Enviado");

            // Vaciamos los inputs
            Polymer.dom(this.root).querySelector('#cuentaOrigenTraspaso').value = "";
            Polymer.dom(this.root).querySelector('#cuentaDestinoTraspaso').value = "";
            Polymer.dom(this.root).querySelector('#conceptoTraspaso').value = "";
            Polymer.dom(this.root).querySelector('#cantidadTraspaso').value = "";
            Polymer.dom(this.root).querySelector('#confirmacionTraspaso').checked = false;
          }
        }else{
            alert("Por favor complete todos los campos obligatorios (cuenta origen, cuenta destino, cantidad y check de confirmación).");
        }
      }

      refrescarCuenta(select, tipo){
        if(tipo=="origen"){
          this.idCuentaOrigen = select.value;
        }else{
          this.idCuentaDestino = select.value;
        }
      }

      showError(error){
        console.log("ERROR al Realizar operación");
        console.log(error);
      }

    }



    window.customElements.define(VisorOperacion.is, VisorOperacion);
  </script>
</dom-module>
