.contenedorPrincipal{
  margin:auto;
  background-color:#ffffff;
  color:#094FA4;
  font-family: Arial;
  font-size:12pt;
  padding:20px;
  font-weight: bold;
}
.cabecera{
  background-color: #DBDBDB;
  padding:15px;
  color: #121212;
  font-family: "BBVA Web Medium BS",sans-serif;
  font-size: 1.4rem;
}
.textoMovimiento{
  font-size:12pt;
}
.textoMovimientoFecha{
  font-style: italic;
}
.left{
  float:left;
}
.right{
  float:right;
}
.padding-10{
  padding:10px;
}
.contenedorPrincipal{
  margin:auto;
  background-color:#ffffff;
  color:#094FA4;
  font-family: Arial;
  font-size:12pt;
  padding:20px;
  font-weight: bold;
}
.subcabecera{
  background-color: #ECECEC;
  padding:5px;
  color: #121212;
  font-family: "BBVA Web Medium BS",sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
}
.subcabecera2{
  background-color: #ECECEC;
  color: #121212;
  font-family: "BBVA Web Medium BS",sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
}
.enlace:hover{
  cursor:pointer;
  text-decoration: underline;
}
.movimiento{
  border-bottom:1px #094FA4 solid;
  padding:15px;
}
.movimiento:hover{
  background-color:#5BBEFF;
  cursor:pointer;
}
.aliasCuenta{
  font-size:14pt;
  font-weight: bold;
  float:left;
}
.balanceCuenta{
  font-size:14pt;
  float:right;
}
.ibanCuenta{
  font-style: italic;
  font-size:12pt;
  margin-top:10px;
  float:left;
}
.textoCuenta{
  font-size:12pt;
}
.textoCuentaIBAN{
  font-style: italic;
}
.balance{
  float:right;
  color: #0955EE;
  font-size:14pt;
}
h2{
  color:#072146;
}
.cuenta{
  border-bottom:1px #094FA4 solid;
  padding:15px;
}
.cuenta:hover{
  background-color:#5BBEFF;
  cursor:pointer;
}
.active{
  background-color: #004481;
  color:white;
  font-weight:bold;
  text-align:center;
  border-bottom:3px #5BBEFF solid;
}
.inactive{
  background-color: #EDEDED;
  color: #8A8A8A;
  font-weight:normal;
  text-align:center;
}
.inactive:hover{
  background-color: #5BBEFF;
  color: #8A8A8A;
  cursor:pointer;
}
.tituloStep{
  padding:20px;
  font-size:1.6rem;
}
.ayuda{
  font-size: 0.9rem;
  font-style: italic;
  font-weight: normal;
}
input{
  padding:10px;
  margin:15px;
}
p{
  text-align: center;
  font-size:14pt;
  color:white;
}
.contenido{
  background-color: #0044E5;
  color:white;
  font-size: 12pt;
  padding:20px;
}
a{
  color:white;
}
a:hover{
  color:#0099E5;
}
.width-150{
  width:150px;
}
.center{
  text-align: center;
}
